/* font link part star */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
/* font link part end */
/* root variable part start */
:root {
  --DM_sans: "DM Sans", sans-serif;
  --brand_clr: #1e0e62;
}
/* root variable part end */
/* common css part start */
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #000;
  display: inline-block;
}
ul,
ol {
  list-style-type: none;
}
/* common css part end */
/* navbar part start  */
#navbar {
  max-width: 1400px;
}
.container {
  width: 1170px;
  margin: 0 auto;
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo > a {
  font: 700 24px --DM_sans;
  color: var(--brand_clr);
  letter-spacing: -0.29px;
}
.menu_mid > ul {
  display: flex;
  gap: 35px;
}
.menu_mid > ul > li > a {
  font: 400 16px var(--DM_sans);
  line-height: 26px;
  color: var(--brand_clr);
}
.fa-angle-down {
  margin-left: 9px;
}
.menu_right > ul {
  display: flex;
  gap: 37px;
  align-items: center;
}
.menu_right > ul > li > a {
  font: 400 16px --DM_sans;
  color: var(--brand_clr);
  line-height: 26px;
  padding: 9px 22px;
}
.borderd_link {
  border-radius: 100px;
  border: 2px solid transparent;
  transition: all linear .3s;
}
.borderd_link:hover {
  border-radius: 100px;
  border: 2px solid #ebeaed;
}
/* navbar part end */
