/* font link part start */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
/* font link part end */
/* root variable part start */
:root {
  --MD_sans: "DM Sans", sans-serif;
  --brand_clr: #1e0e62;
}
/* root variable part end */
/* common css part start */
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #000;
  display: inline-block;
}
ul,
ol {
  list-style-type: none;
}
/* common css part end  */
/* navbar part start  */
#navbar {
  max-width: 1400px;
  margin: 0 auto;
}
.container {
  width: 1170px;
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo > a {
  font: 700 26px var(--MD_sans);
  color: var(--brand_clr);
}
.menu_mid > ul {
  width: 377px;
  display: flex;
  justify-content: space-between;
}
.menu_mid > ul a {
  font: 400 16px var(--MD_sans);
  color: var(--brand_clr);
  line-height: 10px;
}
.sing_in > ul {
  display: flex;
  gap: 21px;
}
.sing_in > ul a {
  font: 400 16px var(--MD_sans);
  width: 100px;
  height: 40px;
  border: 2px solid transparent;
  border-radius: 100px;
  transition: all linear 0.3s;
  text-align: center;
  line-height: 40px;
}
.sing_in > ul a:hover {
    border: 2px solid #ebeaed;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
}
/* navbar part end  */
